extends layout

block content
    .row
        .col-xs-12.col-sm-4.col-md-3
            .thumbnail
                img(src="img/product1.jpg")
                .caption
                    h3 Label
                    p Desription
                    a(href="product1.html").btn.btn-primary View
                    a(href='cart.html').btn.btn-primary Buy

        .col-xs-12.col-sm-4.col-md-3
            .thumbnail
                img(src="img/product2.jpg")
                .caption
                    h3 Label
                    p Desription
                    a(href="product.html").btn.btn-primary View
                    a(href='cart.html').btn.btn-primary Buy

        .col-xs-12.col-sm-4.col-md-3
            .thumbnail
                img(src="img/product2.jpg")
                .caption
                    h3 Label
                    p Desription
                    a(href="product.html").btn.btn-primary View
                    a(href='cart.html').btn.btn-primary Buy
        .col-xs-12.col-sm-4.col-md-3
            .thumbnail
                img(src="img/product2.jpg")
                .caption
                    h3 Label
                    p Desription
                    a(href="product.html").btn.btn-primary View
                    a(href='cart.html').btn.btn-primary Buy

        .row
        .col-xs-12.col-sm-4.col-md-3
            .thumbnail
                img(src="img/product1.jpg")
                .caption
                    h3 Label
                    p Desription
                    a(href="product.html").btn.btn-primary View
                    a(href='cart.html').btn.btn-primary Buy

        .col-xs-12.col-sm-4.col-md-3
            .thumbnail
                img(src="img/product2.jpg")
                .caption
                    h3 Label
                    p Desription
                    a(href="product.html").btn.btn-primary View
                    a(href='cart.html').btn.btn-primary Buy

        .col-xs-12.col-sm-4.col-md-3
            .thumbnail
                img(src="img/product2.jpg")
                .caption
                    h3 Label
                    p Desription
                    a(href="product.html").btn.btn-primary View
                    a(href='cart.html').btn.btn-primary Buy
        .col-xs-12.col-sm-4.col-md-3
            .thumbnail
                img(src="img/product2.jpg")
                .caption
                    h3 Label
                    p Desription
                    a(href="product.html").btn.btn-primary View
                    a(href='cart.html').btn.btn-primary Buy
