body {
    color: #333;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #144E9C
}

.container {
    margin: 20px auto;
    padding: 0px;
    width: 900px;
}

/* header */

header {
    height: 70px;
}


/* section */


/* section - content */

section {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
    padding: 20px;
    height: 100%;
    margin-top: 150px;
}

section hr {
    color: rgba(0, 0, 0, 0.13);
}

section .content {
    float: left;
    width: 510px;
}


/* post */
article a.title {
    color: #64AF1B;
    font-size: 28px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: -1px;
}

.postImg {
    float: left;
    width: 250;
    height: 250;
    margin-right: 5px;
}


/* section - sidebar */

.sidebar {
    float: right;
    width: 300px;
}

.sidebar .widget-title {
    font-weight: bold;
    margin: 0px 0px 0.5em;
    font-size: 16px;
}


.sidebar ul.widget-list {
    list-style: none;
    background: white;
    margin: 0px;
    padding: 5px 7px;
    border: 2px solid #8CBF1F;
}

.sidebar ul.li {
    font-size: 16px;
}
